.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main-paginas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(185, 184, 117, 0.8);
  margin-top: 14px;
  border-radius: 0%;
  border: 2px solid #61dafb; 
  width: 100%;
  padding: 10px; 
  box-sizing: border-box;
  height: 30px; 
}

#main-botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(185, 184, 117, 0.8);
  gap: 3pc; 
  height: 40px; 
  margin-right: 0;
  width: 100%;
  padding: 10px; 
  box-sizing: border-box;
}

#main-logo {
  justify-content: center;
  background-image: url('./recursos/main-baner1.jpg');
  transform: scale(1.1);
  background-size: cover;
  background-position: center;
  height: 320px;
}

#noticias-destacadas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #282c34;
  margin-top: -150px;
}

#main-noticiaDestacada1,
#main-noticiaDestacada2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  transform: scale(0.7);
  height: fit-content;
  height: 55pc; /* Reduced height */
  font-size: 2em;
  color: white;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 100px; /* Increased margin-top to lower the elements by 30pc */
  padding-top: 0;
  margin-right: -20px;
  
  
}

#main-noticiaDestacada1 {
  background-image: url('./recursos/barracuda.jpg');  
}

#main-noticiaDestacada2 {
  background-image: url('./recursos/serie5000.jpg');
}



#noticias-recientes {
  display: flex;
  flex-wrap: nowrap; /* Changed from wrap to nowrap */
  justify-content: center;
  background-color: #444; /* Cambiado a un color más oscuro para mayor visibilidad */
  margin-top: -250px;
  padding: 20px; /* Added padding to ensure content doesn't touch the edges */
  box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
}


#main-noticiaReciente1,
#main-noticiaReciente2,
#main-noticiaReciente3 {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the top */
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  transform: scale(0.7);
  height: fit-content;
  height: 50pc;
  font-size: 2em;
  color: white;
  width: 33.33%; /* Fit three items in one line */
  box-sizing: border-box;
  text-align: center;
  margin-top: 0;
  padding-top: 20px; /* Added padding to the top */
  margin-right: 0; /* Adjusted margin to 0 */
  padding-bottom: 0; /* Removed padding from the bottom */
}

#main-noticiaReciente1 {
  background-image: url('./recursos/main-bo66.jpg');
}

#main-noticiaReciente2 {
  background-image: url('./recursos/steam-dek.jpeg');
}

#main-noticiaReciente3 {
  background-image: url('./recursos/sc.jpeg');
}

html, body {
  overflow-x: hidden;
}

#analisis-cabecera {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #282c34;
  margin-top: 14px;
  border-radius: 0%;
  width: 100%;
  padding: 10px; 
  box-sizing: border-box;
  height: fit-content; 
}

#analisis-botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(185, 184, 117, 0.8);
  gap: 3pc; 
  height: 40px; 
  margin-right: 0;
  width: 100%;
  padding: 10px; 
  box-sizing: border-box;
}

#analisis-titulo {
  color: aliceblue;
  font-size: 220%;
  letter-spacing: 0.5em;
  margin: 5px;
}

#analisis-articulosArea {

}

.analisis-articulo {
  
}