.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#main-paginas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #282c34;
  margin-top: 14px;
}
#main-botones{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #282c34;
  gap: 3pc;
  height: 30px;
  
  margin-right: 20%;
  
}



#main-logo{
  justify-content: center;
  background-image: url('./recursos/main-baner1.jpg');
  transform: scale(1.1);
  background-size: cover;
  background-position: center;
  height: 320px;
}


#main-noticiaDestacada1{
  justify-content: center;
  background-image: url('./recursos/barracuda.jpg');
  background-size: cover;
  background-position: center;
  transform: scale(0.3);
  height: fit-content;
  height: 80pc;
  font-size: 8em; /* Added to make the text larger */
  color: white;
}


#main-noticiaDestacada2{
  justify-content: center;
  background-image: url('./recursos/serie5000.jpg');
  background-size: cover;
  background-position: center;
  transform: scale(0.3);
  height: fit-content;
  height: 80pc;
  font-size: 8em; /* Added to make the text larger */
  color: white;
}